
* {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.progress {
    height: 100%;
}

#upgradeButton {
    height: 100%;
    width: 100%;
    padding: unset;
}


#gold-counter {
    background: #45a1d5;
    width: 200px;
    height: 50px;
    position: fixed;
    top: 0;
    border-radius: 0 0 25px 0;
    background: #21252947;
    border: 4px solid #d39e00;
    border-top-style: none;
    border-left-style: none;
    left: 0;
    display: flex;
    align-items: center;
}


table{
    border-spacing:10px 5px;
}

.business-container {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
    grid-template-rows: repeat(10, 150px);
}

#dollar-bar {
    width: 20px;
    height: 20px;
    margin-bottom:4px;
}

#dollar-counter {
    display: inline-block;
    width: 40px;
    height: 40px;
}

#amount-gold {
    display: inline-block;
    text-align: right;
    font-weight: bold;
    color: rgb(0, 0, 0);
    padding-left: 2px;
    font-size: 2rem;
}

#hire-manager-button {
    height: 30%;
    width: 100%;
    padding: unset;
    bottom: 2px;
    position: absolute;
}

#manager {
    position: absolute;
    width: 74px;
    height: 90px;
    left: 278px;
    bottom: 0px;
    overflow: visible;
    cursor: pointer;
}

.manager-icon.hired {
    position: absolute;
    width: 86px;
    height: 86px;
    right: 0px;
    bottom: 0px;
    overflow: visible;
}

.manager-icon.to-hire {
    position: absolute;
    width: 74px;
    height: 74px;
    left: 0px;
    top: 0px;
}

#Business {
    position: relative;
    width: 355px;
    height: 141px;
    overflow: visible;
    background-color: #CCC;
    border-color: #000;
    border-radius: 15px;
    margin: 10px 5px;
}


#levelBar {
    position: absolute;
    width: 154px;
    height: 26px;
    left: 120px;
    top: 53px;
    overflow: visible;
}

#arrowIcon {
    position: absolute;
    width: 24px;
    height: 24px;
    left: 0px;
    top: 1px;
    overflow: visible;
}

.background_o {
    position: absolute;
    overflow: visible;
    width: 154px;
    height: 26px;
    left: 0px;
    top: 0px;
}

#LevelText {
    position: absolute;
    left: 24px;
    top: 1px;
    overflow: visible;
    width: 97px;
    white-space: nowrap;
    text-align: left;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    color: rgba(112,112,112,1);
}

#buyButton {
    position: absolute;
    width: 154px;
    height: 59px;
    left: 120px;
    top: 79px;
    overflow: visible;
    cursor: pointer;
}



#producePanel {
    position: absolute;
    width: 113px;
    height: 141px;
    cursor: pointer;
    margin: auto;
    display: flex;
    justify-content: center;
}

#Icon {
    width: 90%;
    align-self: flex-start;
}

#progressContainer {
    position: absolute;
    width: 113px;
    height: 27px;
    left: 0px;
    bottom: 0px;
}

#earning {
    position: absolute;
    right: 2px;
    top: 0px;
    overflow: visible;
    width: 85px;
    white-space: nowrap;
    text-align: right;
    font-weight: bold;
    color: rgb(0, 0, 0);
}

#timer {
    position: absolute;
    left: 5px;
    top: 0px;
    overflow: visible;
    width: 38px;
    white-space: nowrap;
    text-align: left;
    font-weight: bold;
    color: rgb(0, 0, 0);
}

#title {
    position: absolute;
    left: 121px;
    top: 9px;
    overflow: hidden;
    width: 235px;
    height: 34px;
    text-align: center;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    color: rgba(112,112,112,1);
}


