
* {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.progress {
    height: 100%;
}

#upgradeButton {
    height: 100%;
    width: 100%;
    padding: unset;
}

#gold-counter {
    background: #45a1d5;
    width: 200px;
    height: 50px;
    position: fixed;
    top: 0;
    border-radius: 0 0 25px 0;
    background: #21252947;
    border: 4px solid #d39e00;
    border-top-style: none;
    border-left-style: none;
    left: 0;
    display: flex;
    align-items: center;
}


table{
    border-spacing:10px 5px;
}

.business-container {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
    grid-template-rows: repeat(10, 150px);
}

#dollar-bar {
    width: 20px;
    height: 20px;
}

#dollar-counter {
    display: inline-block;
    width: 40px;
    height: 40px;
}

#amount-gold {
    display: inline-block;
    text-align: right;
    font-weight: bold;
    color: rgb(0, 0, 0);
    padding-left: 2px;
    font-size: 2rem;
}
