
* {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.progress {
    height: 100%;
}

#upgrade-button {
    height: 100%;
    width: 100%;
    padding: unset;
}


table {
    border-spacing: 10px 5px;
}

.business-container {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(auto-fit, minmax(375px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(150px, 1fr));
    margin-top: 52px;
}

#dollar-bar {
    width: 20px;
    height: 20px;
    margin-bottom: 4px;
}


#gold-counter {
    background: #212529b3;
    width: 250px;
    height: 60px;
    position: fixed;
    top: 0;
    border-radius: 0 0 25px 25px;
    border: 4px solid #d39e00;
    border-top-style: none;
    left: 0;
    left: 50%;
    margin-left: -125px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#dollar-counter {
    width: 40px;
    height: 40px;
}

#amount-gold {
    text-align: right;
    font-weight: bold;
    color: white;
    font-size: 2rem;
}

#hire-manager-button {
    height: 30%;
    width: 100%;
    padding: unset;
    bottom: 2px;
    position: absolute;
}

#manager {
    position: absolute;
    width: 74px;
    height: 90px;
    right: 0px;
    bottom: 0px;
    overflow: visible;
    cursor: pointer;
}

.manager-icon.hired {
    position: absolute;
    width: 86px;
    height: 86px;
    right: 0px;
    bottom: 0px;
    overflow: visible;
}

.manager-icon.to-hire {
    position: absolute;
    width: 74px;
    height: 74px;
    left: 0px;
    top: 0px;
}

#business {
    position: relative;
    width: 375px;
    height: 141px;
    overflow: visible;
    background-color: #CCC;
    border-color: #000;
    border-radius: 15px;
    margin: 10px 5px;
}

    #business.to-purchase {
        background-color: #EEE;
    }


#level-bar {
    position: absolute;
    width: 154px;
    height: 26px;
    left: 139px;
    top: 53px;
    overflow: visible;
}

#arrow-icon {
    position: absolute;
    width: 24px;
    height: 24px;
    left: 0px;
    top: 1px;
    overflow: visible;
}

#level-text {
    position: absolute;
    left: 24px;
    top: 1px;
    overflow: visible;
    width: 110px;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    color: #555555;
}

#buy-button {
    position: absolute;
    left: 139px;
    overflow: visible;
    cursor: pointer;
}

    #buy-button.to-purchase {
        width: 230px;
        height: 85px;
        bottom: 5px;
    }

    #buy-button.purchased {
        width: 154px;
        height: 59px;
        top: 79px;
    }

#producer-panel {
    position: absolute;
    width: 130px;
    height: 141px;
    cursor: pointer;
    margin: auto;
    display: flex;
    justify-content: center;
    border-radius: 15px;
}

    #producer-panel.idle {
        animation: pulse 2.5s infinite;
        box-shadow: 0 0 0 rgba(204,169,44, 0);
    }

@keyframes pulse {
    100% {
        box-shadow: 0 0 0 0 rgba(204,169,44, 0.6);
    }

    70% {
        box-shadow: 0 0 10px 10px rgba(204,169,44, 0);
    }

    0% {
        box-shadow: 0 0 0 0 rgba(204,169,44, 0);
    }
}

#icon {
    width: 90%;
    align-self: flex-start;
    animation: shake 2.82s;
    animation-timing-function: cubic-bezier(0.280, 0.840, 0.420, 1);
}

    #icon.producing {
        animation-iteration-count: infinite;
    }

    #icon.to-purchase {
        align-self: center;
        filter: grayscale(100%);
    }

@keyframes shake {
    0% {
        transform: scale(1,1) translateY(0);
    }

    8% {
        transform: scale(1.1,.9) translateY(0);
    }

    23% {
        transform: scale(.9,1.1) translateY(-20px);
    }

    39% {
        transform: scale(1.05,.95) translateY(0);
    }

    45% {
        transform: scale(1,1) translateY(-7px);
    }

    50% {
        transform: scale(1,1) translateY(0);
    }

    100% {
        transform: scale(1,1) translateY(0);
    }
}

#progress-container {
    position: absolute;
    width: 100%;
    height: 27px;
    left: 0px;
    bottom: 0px;
}

#earning {
    position: absolute;
    right: 2px;
    top: 0px;
    overflow: visible;
    width: 85px;
    white-space: nowrap;
    text-align: right;
    font-weight: bold;
    color: #555555;
}

#timer {
    position: absolute;
    left: 5px;
    top: 0px;
    overflow: visible;
    width: 38px;
    white-space: nowrap;
    text-align: left;
    font-weight: bold;
    color: #555555;
}

#title {
    position: absolute;
    left: 124px;
    top: 9px;
    overflow: hidden;
    width: 250px;
    height: 34px;
    text-align: center;
    font-weight: bold;
    font-size: 25px;
    color: #555555;
}

.container {
    max-width: 100%;
}

#idle-gold-overlay {
    background: #212529b3;
    padding: 2px 10px;
    color: white;
    position: absolute;
    border: 4px solid #d39e00;
    border-style: solid;
    border-top-style: none;
    border-radius: 0px 0px 25px 25px;
    display: inline-grid;
    justify-content: center;
    align-items: center;
}

#claim-idle {
    margin: 0px 3px 10px 3px;
}
